

# THEORY QUESTIONS

### **1. What are data structures, and why are they important?**

Data structures are different ways of storing and organizing data.
They are important because they make our programs faster and easier to work with.



### **2. Difference between mutable and immutable types with examples**

* **Mutable:** Can be changed. Example: list → `[1, 2, 3]`
* **Immutable:** Cannot be changed. Example: string → `"hello"`



### **3. Difference between lists and tuples**

Lists can change (mutable), but tuples cannot change (immutable).
Also, lists use `[]` and tuples use `()`.



### **4. How dictionaries store data**

Dictionaries store data in **key-value pairs** like `"name": "Vishal"`.
Each key points to a value.



### **5. Why use a set instead of a list?**

Use a set when you don’t want duplicates and order doesn’t matter.



### **6. What is a string in Python and how is it different from a list?**

A string is text (like `"hello"`).
You cannot modify a string, but you can modify a list.



### **7. How do tuples ensure data integrity?**

Tuples cannot be changed, so data stays safe and unmodified.



### **8. What is a hash table, and how does it relate to dictionaries?**

Hash table stores data using a hash function.
Python dictionaries use hash tables internally.



### **9. Can lists contain different data types?**

Yes, lists can contain anything: `[1, "hello", 3.5]`.



### **10. Why strings are immutable?**

Because Python stores them in memory in a fixed way for speed and safety.



### **11. Advantages of dictionaries over lists**

Dictionaries make searching fast using keys, unlike lists where you search by index.



### **12. When is tuple better than list?**

When you want data that should not change, like coordinates `(5, 10)`.



### **13. How do sets handle duplicate values?**

They simply remove duplicates automatically.



### **14. How does “in” keyword work differently for lists and dictionaries?**

* In list: checks if item exists
* In dictionary: checks only keys, not values


### **15. Can you modify tuple elements? Why?**

No. Tuples are immutable.



### **16. What is a nested dictionary? Example.**

A dictionary inside another dictionary.
Example:
`{"person": {"name": "Vishal", "age": 20}}`



### **17. Time complexity of accessing dictionary elements**

O(1) → very fast constant time.



### **18. When are lists preferred over dictionaries?**

When order matters or when you only need simple sequences.



### **19. Why are dictionaries unordered?**

They store data by hashing, not by position.
So order is not guaranteed (in concept).



### **20. Difference between list & dictionary in data retrieval**

* List → access by index
* Dictionary → access by key

In [3]:
#PRACTICAL QUESTIONS
# 1: Write a code to create a string with your name and print it.
name = "Vishal"
print(name)

Vishal

In [4]:
# 2: Write a code to find the length of the string "Hello World".**
len("Hello World")

11

In [5]:
# 3: Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
text[:3]

'Pyt'

In [2]:
#4: Write a code to convert the string "hello" to uppercase.
text = "hello"
print(text.upper())

HELLO

In [6]:
# 5: Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
text.replace("apple", "orange")

'I like orange'

In [7]:
#6 : Write a code to create a list with numbers 1 to 5 and print it.
nums = [1, 2, 3, 4, 5]
nums

[1, 2, 3, 4, 5]

In [8]:
#7: Write a code to append the number 10 to the list [1, 2, 3, 4].
lst = [1, 2, 3, 4]
lst.append(10)
lst

[1, 2, 3, 4, 10]

In [9]:
#8: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1, 2, 3, 4, 5]
lst.remove(3)
lst

[1, 2, 4, 5]

In [ ]:
#9: Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
lst = ['a', 'b', 'c', 'd']
lst[1]

In [ ]:
#10: Write a code to reverse the list [10, 20, 30, 40, 50].
lst = [10, 20, 30, 40, 50]
lst[::-1]

In [10]:
#11: Write a code to create a tuple with the elements 100, 200, 300 and print it.
t = (100, 200, 300)
t

(100, 200, 300)

In [12]:
#12: Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
colors[2:4]

('blue', 'yellow')

In [13]:
#13: Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t = (10, 20, 5, 15)
min(t)

5

In [14]:
#14: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
animals.index("cat")

1

In [15]:
#15: Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")
"kiwi" in fruits

False

In [ ]:
#16: Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
s

In [ ]:
#17: Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
s

In [ ]:
#18: Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
s

In [20]:
#19: Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
{1, 2, 3} | {3, 4, 5}

{1, 2, 3, 4, 5}

In [21]:
#20: Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
{1, 2, 3} & {2, 3, 4}

{2, 3}

In [23]:
#21: Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
info = {"name": "Vishal", "age": 18, "city": "Delhi"}
info

{'name': 'Vishal', 'age': 18, 'city': 'Delhi'}

In [22]:
#22: Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d = {'name': 'John', 'age': 25}
d["country"] = "USA"
d

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
#23: Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d = {'name': 'Alice', 'age': 30}
d["name"]

'Alice'

In [26]:
#24: Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
d

{'name': 'Bob', 'city': 'New York'}

In [25]:
#25: Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d = {'name': 'Alice', 'city': 'Paris'}
"city" in d

True

In [28]:
#26: Write a code to create a list, a tuple, and a dictionary, and print them all.
lst = [1, 2, 3]
tpl = (4, 5, 6)
dic = {"a": 1, "b": 2}
print(lst)
print(tpl)
print(dic)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [29]:
#27: Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
lst

[9, 26, 64, 65, 78]

In [30]:
#28: Write a code to create a list with strings and print the element at the third index.
lst = ["apple", "mango", "banana", "kiwi", "orange"]
lst[3]

'kiwi'

In [31]:
#29: Write a code to combine two dictionaries into one and print the result.
d1 = {"a": 1}
d2 = {"b": 2}
d3 = {**d1, **d2}
d3

{'a': 1, 'b': 2}

In [ ]:
#30: Write a code to convert a list of strings into a set.
lst = ["a", "b", "c", "a"]
set(lst)